@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>CDN</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.1.406/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.1.406/js/kendo.aspnetmvc.min.js"></script>
</head>
<body>
    @(Html.Kendo().DropDownList().Name("CDNDrop"))
</body>
</html>