@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Local</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script type="module" src="~/lib/progress/js/kendo.all.min.js"></script>
    <script type="module" src="~/lib/progress/js/kendo.aspnetmvc.min.js"></script>
</head>
<body>
    @(Html.Kendo().DropDownList().Name("LocalDrop"))
</body>
</html>
